<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}

        {% endblock %}

    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<!-- Cabecera de la página-->
<header>
    <div id="logotipo">
        <img src="{% static 'images/logo.png' %}">
        <h1>Texto en header layout</h1>

    </div>
</header>

<nav class="brand">
    <ul>
        <li>
            <a href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li>
            <a href="{% url 'carrito' %}">Carrito de compras</a>
        </li>
        
    </ul>
</nav>

<div id="content">
    <div class="box">
        {% block content %}
        <strong>Contendio del bloque div en layout</strong>
        {% endblock %}
    </div>
</div>
<footer>
    <h1>Footer de layout</h1>
</footer>





</html>